@font-face {
  font-family: Raleway;
  src: url('../fonts/Raleway/Raleway-Regular.ttf');
}

body {
  margin: 0px;
  font-family: Raleway, sans-serif;
}

body a {
  color: #5F4B8B;
  text-decoration: none;
  transition-duration: 300ms;
}

body a:hover {
  color: white;
  background-color: #5F4B8B;
  transition-duration: 300ms;
}

.panel {
  height: 100%;
  width: 100%;
  /* border: 1px solid black; */
}

#text-and-links {
  text-align: center;
  position: relative;
  line-height: 2em;
  font-size: 2em;

  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}

#greeting {
  text-align: center;
  position: relative;
  font-size: 2em;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}

#generic {
  text-align: center;
  position: relative;
  /*background-color: blue*/
}

#genericHeader {
  display: block;
  position: relative;
  font-size: 1.5em;
  width: 100%;
  height: 10%;
}

#genericPaceLogo {
  width: 25em;
  /*background-color: green;*/
}

#nameBox {
  /*background-color: rgb(0,100,100);*/
  width: 100%;
  height: 15%;
  display: block;
  position: relative;
  font-size: 4em;
}

#genericButtonDiv {
  text-align: center;
  position: relative;
}

#wheelRaffle {
  background-color: #eaeaea;
}

  #wheelHeader {
    height: 10%;
    width: 100%;
    text-align: center;
    font-size: 2em;
    /*background-color: blue;*/
    display: flex;
    align-items: center;
    text-align: center;
  }

    #wheelHeader p {
      margin: 0;
      width: 100%;
      text-align: center;
    }

  #wheel {
    /*background-color: #5f4b8b;*/
    width: 60%;
    height: 90%;
    text-align: center;
    position: relative;
    float: left;
    display: flex;
    align-items: center;
    justify-content: center;
  }

    #myCanvas {
      box-shadow:rgba(0,0,0,0.9) 0px 0px 40px;
      border-radius: 50%;
      border: 10px solid black;
      justify-content: center;
      text-align: center;
    }

  #wheelButtonDiv {
    text-align: center;
    float: right;
    width: 40%;
    height: 90%;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
  }

    #wheelButtonLabels {
      position: absolute;
      top: 11%;
      width: 100%;
    }

      #aboveWheelLabel {
        font-size: 2em;
        margin: 0;
      }

      #aboveWheelValue {
        font-size: 4em;
        margin: 0;
      }

    #wheelButtonPanel {
      /*background-color: #59efff;*/
      height: 26%;
      width: 100%;
      position: absolute;
      bottom: 20%;

      /*display: flex;
      flex-wrap: wrap;
      align-items: center;*/
    }

      .button {
        background-color: transparent;
        border: 1px solid black;
        color: black;
        shadow: 1px;
        font-size: 2em;
        font-family: Raleway;
        height: 2em;
        width: 70%;
        text-align: center;

        /*flex-grow: 1;*/

        /* animations */
        transition-duration: 0.4s;
        -webkit-transition-duration: 0.4s;
      }

      #getButton:hover {
        background-color: rgb(162,0,27);
        color: white;
        cursor: pointer;
      }

      #getButton:active {
        background-color: transparent;
        color: black;
        transition-delay: -2s;
      }

      #spinButton:hover {
        background-color: rgb(162,0,27);
        color: white;
        cursor: pointer;
      }

      #spinButton:active {
        background-color: transparent;
        color: black;
        transition-delay: -2s;
      }

      #spinButtonB:hover {
        background-color: rgb(0,158,70);
        color: white;
        cursor: pointer;
      }

      #spinButtonB:active {
        background-color: transparent;
        color: black;
        transition-delay: -2s;
      }

      #resetButton:hover {
        background-color: rgb(0,158,70);
        color: white;
        cursor: pointer;
      }

      #resetButton:active {
        background-color: transparent;
        color: black;
        transition-delay: -2s;
      }

    #wheelPaceLogo {
      width: 20em;
      bottom: 0;
      text-align: center;
      position: absolute;
    }

.black_text {
  color: black;
}

.white_text {
  color: white;
}

.purple_text {
  color: #5F4B8B;
}

.big_text {
  font-size: 4em;
  font-weight: bold;
}

.center_align {
  text-align: center;
}
