@font-face {
  font-family: Raleway;
  src: url('../fonts/Raleway/Raleway-Regular.ttf');
}

.player-button {
    height: auto;
    width: 25%;
}

#button-pp {
    height: auto;
    width: 70%;
}

#button-warning {
    visibility: hidden;
}

.ship {
    height: auto;
    width: 80%;
}

#container {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    
    display: flex;
    align-items: center;
    justify-content: center;
}

#player {
    /* border: 2px solid black; */
    width: 700px;
    max-width: 75%;
    height: 75%;
    color: white;
    font-family: Raleway, sans-serif;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#panel-playpause {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

#panel-ships {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    /* padding-top: 5px; */
}

#debugging-text {
    text-align: center;
    background-color: bisque;

}

.panel-button {
    text-align: center;
}

.panel-button-top {
    opacity: 0.6;
}

.panel-button-top:hover {
    opacity: 1;
    transition-delay: 110ms;
}

.v-indicator {
    visibility: hidden;
    font-size: 1em;
}

#gatling-v {
    color: rgb(235,143,117);
}

#aim-v {
    color: rgb(214,187,110);
}

#spread-v {
    color: rgb(129,216,195);
}

#bubble-v {
    color: rgb(170,219,114);
}
/* purple: #7c5fb9 */